.stageItem {
	margin-top: 10px;
	width: 350px;
	display: flex;
	flex-direction: column;
	.title {
		font-size: 25px;
		font-weight: 600;
		text-align: center;
	}
	.item {
		display: flex;
		align-items: center;
	}
}
